:root {
  --primary-color: #c4c4c4;

  --text-color: #000000;
  --text-description-modal: #131336;

  --background-modal-container: #ffffff;
  --background-modal: rgba(0, 0, 0, 0.6);

  --font-open-sans: 'Open Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  max-height: 100vh;
}

section > p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 140%;
}

/*********** Class Header *************/

.nav_container {
  padding: 1rem;
  position: relative;
  background-color: var(--primary-color);
}

.nav_icon-menu {
  position: absolute;

  top: 1rem;
  left: 2.3rem;
  cursor: pointer;
}

.main_container {
  padding: 3.2rem 6.875%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button_modal {
  padding: 0.6rem 3.5rem;

  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 140%;

  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--text-color);

  cursor: pointer;
}

.button_container {
  padding: 2rem;
}

/*********** Modal *************/

.modal {
  background-color: var(--background-modal);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal_icon-close {
  position: absolute;

  top: 2rem;
  right: 2.2rem;
}

/* Modal description */

.modal_container-description {
  background-color: var(--background-modal-container);
  width: 275px;
  padding: 6.2rem 2.7rem 6.2rem 2.2rem;
  margin: 13% auto;
  position: relative;

  border-radius: 6px;
  overflow-y: scroll;
  max-height: 100vh;
}

.modal_container-description > p {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;

  color: var(--text-description-modal);
}

#miModal:target {
  opacity: 1;
  pointer-events: auto;
}

#myMenu:target {
  opacity: 1;
  pointer-events: auto;
}

.modal_menu_container {
  margin: 35% auto;

  min-height: 280px;
  max-width: 235px;

  position: relative;

  background-color: var(--background-modal-container);
  border-radius: 6px;
}

.modal_menu_container > ul > li > a {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 200%;

  text-align: center;

  color: var(--text-color);
}

/**************** Class utilities *****************/

.box_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***************** Media queries *****************/

@media (min-width: 768px) {
  section > p {
    font-size: 1.6rem;
  }

  .modal_menu_container {
    margin: 25% auto;
    min-height: 557px;
    max-width: 512px;
    border-radius: 16px;
  }

  .modal_container-description {
    width: 512px;
    max-height: 626px;
    padding: 6.82rem 4.1rem 5.18rem 3.9rem;
    margin: 20% auto;

    border-radius: 16px;
  }

  .modal_container-description > p {
    letter-spacing: 0.015em;
  }

  .main_container {
    padding: 6rem 7.4rem;
  }

  .button_container {
    padding: 6rem;
  }

  .button_modal {
    padding: 1.1rem 6.2rem;
    font-size: 2rem;
  }

  .modal_icon-close {
    top: 2.4rem;
    right: 2.68rem;
  }
}

@media (min-width: 1439px) {
  .nav_icon-menu {
    display: none;
  }

  .modal_container-description {
    max-height: 429.2px;
    padding: 6.82rem 4.1rem 5.18rem 3.9rem;
    margin: 5% auto;
  }

  .main_container {
    padding: 6rem 15.4rem;
  }

  .button_container {
    padding: 8rem;
  }
}
